
 div {
  background-color: orange;
  padding: 50px;
  color: white;
  font-family: sans-serif;
  width: 500px;
  border: 3px black dashed;
  margin: 10px;
}
body{
background-image: url("http://wallpapercave.com/wp/wc1704264.png");
background-size: 1000px 1000px;
   background-repeat: no-repeat;
}
